#Home{
  max-width: 1000px;
  padding: 0 16px;
  margin: 0 auto;
  >header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dddddd;
  }
  >Button >.ant-dropdown-link{
    border: 1px solid red;
  }

  > main{
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
  };
}