#TomatoButton {
  > .inputWrapper {

    position: relative;
    > .anticon-close-circle{
      position: absolute;
      top: -10px;
    }
  }
  > .CountDownWrapper {
    position: relative;
    text-align: center;
    border-radius: 4px;
  }
}